<!DOCTYPE html>
<html>
    <head>
        {{> head}}
    </head>
    <body>
        {{> header}}
        <p>Whoopsydaisy, We have been Bamboozled. We'll be rrrrrrright back.</p>
        {{> footer}}
    </body>
</html>